body{
    margin: 0;
    background-color: #f6f8f9;
}
header{
    padding: 20px;
    background-color: white;
}

hr {
    border: 1px solid;
    border-color: #f6f8f9;
    margin-left: -40px;
    margin-right: -40px;
}

ul {
padding: 0;
text-align: left;
font-size: 26px;
list-style-type: none;
margin-bottom: 0;
}

li{
height: 50px;
vertical-align: middle;
font-size: 16px;
margin-bottom: 4px;
margin-top: 8px;
}

#title{
font-size: 32px;
vertical-align: middle;
display: inline;
}

#logo{
    vertical-align: middle;
}


#task{
background-color: #47ADF1;
border: 0;
color: white;
border-radius: 8px;
height: 32px;
}

#section{
background-color: white;
color: #f6f8f9;
border-color: black;
border-radius: 8px;
height: 32px;
box-shadow: none;
border-width: 1px;
}

.container{
    width: 1000px;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    margin-bottom: ;
}

.success_checkmark{
margin-right: 8px;
color: chartreuse;
width: 20px; 
height: 20px;
text-align: center;
border: 1px solid chartreuse;
background: white;
border-radius: 50%;
 }

 .failure_checkmark{
margin-right: 8px;
color: red;
width: 20px; 
height: 20px;
text-align: center;
border: 1px solid red;
background: white;
border-radius: 50%;
 }

 .editorial_tag{
font-size: smaller;
color: white;
text-align: center;
background: #47ADF1;
border-radius: 12px;
padding: 4px;
margin-left: 4px;
}

 .q1goals_tag{
font-size: smaller;
color: white;
text-align: center;
background: #9C72E4;
border-radius: 12px;
padding: 4px;
margin-left: 4px;
 }

 .recruiting_tag{
font-size: smaller;
color: white;
text-align: center;
background: #64C0A9;
border-radius: 12px;
padding: 4px;
margin-left: 4px;
 }

 .mobile_tag{
font-size: smaller;
color: white;
text-align: center;
background: #F29E33;
border-radius: 12px;
padding: 4px;
margin-left: 4px;
 }
 
 .website_tag{
font-size: smaller;
color: white;
text-align: center;
background: #D863A0;
border-radius: 12px;
padding: 4px;
margin-left: 4px;
 }

 .sales_tag{
font-size: smaller;
color: white;
text-align: center;
background: #B0C926;
border-radius: 12px;
padding: 4px;
margin-left: 4px;
 }
 